#header{
  background: $gray-light;
  text-align: center;
  z-index: 10;
  position: relative;
  .container{
    position: relative;
  }
}

.logo{
  padding: 35px 0;
  span{
    letter-spacing: 4px;
    font-weight: bold;
    padding-left: 20px;
    color: #B7B8B9;
    font-size: 1.3rem;
  }
  img,span{
    display: inline-block;
    vertical-align: middle;
  }
}

.menu-top{
  text-align: right;
  position: absolute;
  top: 35px;
  right: 15px;
  ul{
    li{
      margin-left: 25px;
    }
  }
}

.main-menu{
  padding-bottom: 10px;
  ul{
    li{
      margin: 0 42px;
      a{
        text-transform: uppercase;
        font-size: .8rem;
        &:hover, &:focus{
          outline: none;
          color: $font-1;
          text-decoration: none;
        }
      }
    }
  }
}

.support-full-video{
  padding-top: 45%;
  position: relative;
  overflow: hidden;
  margin-top: -17px;
}
.video-col{
  // position: absolute;
  // top: 0;
  // bottom: 0;
  // width: 100%;
  // height: 100%; 
  // overflow: hidden;
  video{
    width: 100%;
    //height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transform: none;
  }
}

.video-overlay{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: #fff;
  background: rgba(0,0,0,.3);
  & *{
    transition: all .3s ease;
  }
  &__inner{
    padding-top: 130px;
    text-align: center;
    color: $font-1;
    h1, h2{
      font-weight: normal;
      margin: 0;
    }
    h1{
      font-size: 2.7rem;
      font-weight: 300;
    }
    h2{
      font-size: 1.3rem;
      font-weight: 300;
    }
    .button{
      position: absolute;
      bottom: 100px;
      left: 50%;
      transform: translateX(-50%);
      opacity: .6;
    }
  }
  .play-trigger{
    font-size: 2rem;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: $font-1;
    color: #000;
    height: 100px;
    width: 100px;
    line-height: 100px;
    text-align: center;
    opacity: .6;
    .fas{
      position: relative;
      transition: none;
      //left: 3px;
    }
    &:hover{
      background: #000;
      color: $font-1;
    }
  }
  &.active{
    .play-trigger{
      top: 25px;
      left: 25px;
      transform: scale(.5);
    }
    .video-main-text{
      opacity: 0;
    }
  }
}

.menu-toggle{
  display: none;
}

@media (min-width: 992px){}
@media (max-width: 1300px){
  
  .video-overlay .play-trigger{
    top: 58%;
    font-size: 1.5rem;
    height: 75px;
    width: 75px;
    line-height: 75px;
  }
}

@media (max-width: 991px){
  .logo{
    position: relative;
    text-align: left;
    padding: 20px 0;
  }
  .support-full-video{
    background: url(../images/sample.jpg) no-repeat center center;
    background-size: cover;
  }
  .video-col{
    display: none;
  }
  .menu-top{
    position: static;
    text-align: center;
    padding-bottom: 18px;
    ul{
      li{
        margin: 0 12px;
      }
    }
  }
  .menu-toggle{
    display: block;
    position: absolute;
    right: 15px;
    top: 18px;
    font-size: 1.2rem;
    cursor: pointer;
  }
  .main-menu{
    background: $font-1;
    margin: 0 -15px;
    display: none;
    ul{
      list-style: none;
      li{
        margin: 0;
        display: block;
        a{
          padding: 10px 15px;
          color: #000;
          border-bottom: 1px solid #f19e68;
          border-top: 1px solid #fbc3a0;
          &:hover,&:focus{
            color: #fff;
            background: $gray-dark;
            text-decoration: none;
          }
        }
      }
    }
  }
}
@media (max-width: 767px){}
@media (min-width: 768px) and (max-width: 991px){}

