.portfolio-grid{
  margin: 0;
  .portfolio-item{
    padding: 0;
    .portfolio-caption{
      transition: all .3s ease;
      opacity: 0;
      transform: scale(.7);
      position: absolute;
      top: 20px;
      left: 20px;
      right: 20px;
      bottom: 20px;
      background: rgba(63,80,98,0.9);
      &__text{
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
        padding: 0 15px;
        color: #fff;
        text-align: center;
        font-weight: 300;
        h4{
          margin: 0 0 15px;
          font-weight: 600;
          letter-spacing: 5px;
        }
        p{
          margin: 0;
          padding-bottom: 15px;
          display: inline-block;
          border-bottom: 1px solid #fff;
          color: #fff;
        }
      }
    }
    &:hover{
      .portfolio-caption{
        opacity: 1;
        transform: scale(1);
      }
    }
    img{
      width: 100%;
    }
  }
}

.port-filters{
  padding-bottom: 50px;
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    li{
      display: inline-block;
      margin: 0 20px;
      a{
        display: block;
        color: $blue;
        font-weight: bold;
        letter-spacing: 3px;
        font-size: .8rem;
        &:hover{
          border-bottom: 2px solid $blue;
          text-decoration: none;
        }
      }
      &.active{
        a{
          border-bottom: 2px solid $blue;
        }
      }
    }
  }
}

.menu-toggle{
  display: none;
}

@media (max-width: 991px){
  #header{
    z-index: 99999;
  }
  .logo{
    position: relative;
    .menu-toggle{
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -1.8rem;
      font-size: 1.8rem !important;
      display: block;
    }
  }
  #main-nav{
    text-align: left;
    background: $primary;
    margin: 0 -15px;
    z-index: 99999;
    position: relative;
    display: none;
    ul{
      li{
        display: block;
        margin: 0;
        a{
          font-size: 1rem;
          padding: 10px 15px;
          border-bottom: 1px solid rgba(90,110,128,.9);
        }
      }
    }
  }
  .port-filters ul li{
    margin: 0 8px;
  }
}

@media (max-width: 767px){
  .section.section-2-col{
    .s-thumb{
      width: 100%;
    }
    .section__text{
      background: rgba(0,0,0,.4);
      color: #fff;
    }
  }
  .port-filters ul li a{
    margin-bottom: 10px;
  }
}

