//vendors
@import "../../bower_components/bootstrap/scss/bootstrap.scss";
@import "../../bower_components/components-font-awesome/scss/fontawesome.scss";

@import "variables";
@import "global";
@import "header";
@import "home";
